.heading{
    width: 100%;
    position: relative;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h2{
/* width: 100%; */

}

.heading span{
    position: absolute;
    top: 10px;
    right: 80px;
    /* float: right; */
    background-color: skyblue;
    border-radius: 50%;
    font-size: x-large;
    margin: 10px;
    padding: 15px 15px;
}

.search input{
    width: 30%;
    margin: 0 0 30px 0;
    padding: 10px;
    border-radius: 10px;
    background: white;
    box-shadow: 13px 9px 13px 0px rgba(136, 136, 136, 0.15);
}
.search>input::placeholder{
font-size: larger;
font-weight: bold;
}
.add-task{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    padding: 20px;
    background-color: skyblue;
    z-index: 9999;
    border-radius: 10px;
}
.d-none{
    display: none;
}
.add-task i{
    float: right;
    font-size: larger;
}
.add-task form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.add-task h2{

}

.add-task input{
    width: 300px;
margin: 10px 10px;
padding: 15px;
border-radius: 10px;
}